<h1>Welcome to the English Phrasebook app developed with Django</h1>

<h2>About app:</h2>
App contains admin page for dealing with Category, Level, Theme and Word models.
It also accepts some API requests with "Secret" header permission (for DEBUG=False).

<h3>There are some urls you can use:</h3>

<ul>
    <li><a href="{% url 'admin:index' %}">Link to the admin panel</a></li>
    <li><a href="{% url 'categories-list' %}">GET request to see categories list</a></li>
    <li><a href="{% url 'levels-list' %}">GET request to see levels list</a></li>
    <li>
        <a href="{% url 'themes-list' %}">GET request to see themes list</a>
        (it also accept query params "category" and "level")
    </li>
    <li><a href="{% url 'theme-detail' 1 %}">GET request to see theme detail</a></li>
    <li><a href="{% url 'word-detail' 1 %}">GET request to see word detail</a></li>
</ul>


